.single-post {
  padding: 10px;
  margin-bottom: 20px;
}
.single-img {
  width: 80%;
  margin: auto;
}
.single-img > img {
  width: 100%;
  /* height: 250px; */
  border-radius: 5px;
  object-fit: cover;
}
.single-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.single-row > div > i {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.fa-trash-o {
  color: red;
}
.single-content {
  padding: 0 20px;
}
